.row{
    color: rgb(10, 10, 10);
    width: 700px;
    height: 300px;
    padding: 20px;
}
.div-casilla{
    margin: 360px;
}
.input{
    margin: 360px;
}
// .mat-form-field-wrapper{
//     padding: 10px;
//     margin: 360px;
// }
// .mat-form-field-infix{
//     margin: 360px;
// }
.mat-form-field{
    // margin: 10px;
    // padding: 10px 0px;
    display: grid;
}
.title{
    text-align: center;
}
