<div>
    <form [formGroup]="addIdType">
        <header class="tittle">
            <h2>Agregar Tipo de identificación</h2>
        </header>
        <div class="row">
            <div class="col-12">
                <label for="idtype">Tipo</label>
                <div class="form-label">
                    <input class="form-control" placeholder="idtype" id="idtype" formControlName="idtype"
                        [class.is-invalid]="
                            addIdType.get('idtype')?.touched &&
                            addIdType.get('idtype')?.invalid
                        ">
                </div>
            </div>
            <div class="col-12">
                <label for="description">Descripción</label>
                <div class="form-label">
                    <input class="form-control" placeholder="Descripción" id="description" formControlName="description"
                        [class.is-in valid]="
                        addIdType.get('description')?.touched &&
                        addIdType.get('description')?.invalid
                        ">
                </div>
            </div>
                <div class="button col-2">
                    <button (click)="send()" [disabled]="!addIdType.valid">Guardar</button>
                </div>
        </div>
    </form>
</div>
